/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Merriweather", serif;
  color: #71495b;
  background-color: #3e253c;
}

/* -------------------------------- 

Resource style 

-------------------------------- */
header {
  display: table;
  width: 100%;
  height: 50vh;
  background-color: #3e253c;
  z-index: 2;
}

header h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 90%;
  max-width: 1170px;
  color: #699ec0;
  font-size: 2.6rem;
}

.cd-icons-filling {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  /* hide ::after pseudo element - fix for Edge 15 and below */
  overflow: hidden;
}

.cd-icons-filling::before, .cd-icons-filling::after {
  /* the 2 underneath colored sections */
  /* fix flickering on Edge 15 and below */
  content: '/';
  color: transparent;
  position: fixed;
  /* trick to remove flickering on resize */
  width: calc(90% - 2px);
  max-width: 1170px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 50vh;
  z-index: -1;
}

.cd-icons-filling::before {
  /* fix bug - ::before element visible before starting scrolling */
  top: -1px;
  background-color: #f4bd89;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.cd-icons-filling::after {
  top: 50%;
  background-color: #71495b;
}

@media only screen and (min-width: 1170px) {
  .cd-icons-filling.cd-icons-filling--new-color-1::before {
    background-color: #c06c69;
  }
  .cd-icons-filling.cd-icons-filling--new-color-2::before {
    background-color: #bf69c0;
  }
  .cd-icons-filling.cd-icons-filling--new-color-3::before {
    background-color: #699ec0;
  }
}

.cd-service {
  position: relative;
  z-index: 2;
  min-height: 50px;
  margin-left: 56px;
  background-color: #3e253c;
  padding: 1em 1em 4em;
}

.cd-service::before, .cd-service::after {
  content: '';
  position: absolute;
  width: 56px;
  right: 100%;
  z-index: 2;
}

.cd-service::before {
  top: 0;
  height: 50px;
  background-repeat: no-repeat;
}

.cd-service::after {
  top: 50px;
  bottom: 0;
  background-image: url("../img/cd-pattern-small.svg");
  background-repeat: repeat-y;
}

.cd-service.cd-service--divider::after {
  top: 0;
}

.cd-service.cd-service--divider:last-child {
  display: none;
}

.cd-service.cd-service--1::before {
  background-image: url("../img/cd-icon-1-small.svg");
}

.cd-service.cd-service--2::before {
  background-image: url("../img/cd-icon-2-small.svg");
}

.cd-service.cd-service--3::before {
  background-image: url("../img/cd-icon-3-small.svg");
}

.cd-service.cd-service--4::before {
  background-image: url("../img/cd-icon-4-small.svg");
}

.cd-service h2 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 1em;
  font-family: "Merriweather Sans", sans-serif;
}

.cd-service p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 1170px) {
  .cd-service {
    min-height: 525px;
    margin-left: 420px;
    padding: 6em 2em;
  }
  .cd-service::before, .cd-service::after {
    width: 420px;
  }
  .cd-service::before {
    height: 325px;
  }
  .cd-service::after {
    top: 325px;
    background-image: url("../img/cd-pattern-large.svg");
  }
  .cd-service.cd-service--divider:first-child, .cd-service.cd-service--divider:last-child {
    min-height: 50px;
    padding: 0;
  }
  .cd-service.cd-service--divider:last-child {
    display: block;
  }
  .cd-service.cd-service--1::before {
    background-image: url("../img/cd-icon-1-large.svg");
  }
  .cd-service.cd-service--2::before {
    background-image: url("../img/cd-icon-2-large.svg");
  }
  .cd-service.cd-service--3::before {
    background-image: url("../img/cd-icon-3-large.svg");
  }
  .cd-service.cd-service--4::before {
    background-image: url("../img/cd-icon-4-large.svg");
  }
  .cd-service h2, .cd-service p {
    color: #71495b;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  .cd-service h2 {
    font-size: 3rem;
  }
  .cd-service p {
    font-size: 1.8rem;
    line-height: 1.6;
  }
  .cd-service.cd-service--focus h2 {
    color: white;
  }
  .cd-service.cd-service--focus p {
    color: rgba(255, 255, 255, 0.5);
  }
}

footer {
  position: relative;
  height: 50vh;
  background: #3e253c;
  z-index: 2;
}
